snippet !fun(ction)?! "New function" !br
function ${1:name}(${2}) {
	${VISUAL}$0
}

endsnippet

snippet log "log" b
console.log('$1');
endsnippet

snippet /logv(a(r)?)?/ "log var" br
console.log('$1: ' + $1);
endsnippet

snippet re "require" !b
var $1 = require('${1}');
endsnippet

