[submodule "homedir/.config/alacritty/base16-alacritty"]
	path = homedir/.config/alacritty/base16-alacritty
	url = git://github.com/aaron-williamson/base16-alacritty.git
[submodule "homedir/.config/alacritty/alacritty-theme"]
	path = homedir/.config/alacritty/alacritty-theme
	url = git://github.com/eendroroy/alacritty-theme.git
[submodule "homedir/.config/base16-shell"]
	path = homedir/.config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "homedir/.config/nvim/bundle/Vundle.vim"]
	path = homedir/.config/nvim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
