GPATH
GRTAGS
GTAGS
GSYMS
TAGS
tags
custom.el
bookmarks
ede-projects.el
ido.last
ac-comphist.dat
projectile-bookmarks.eld
projectile.cache
helm-adaptive-history
tags
TAGS
srecode-map.el
network-security.data
server/server
org-clock-save.el
.sx
flycheck_init*.el
.desktop
.desktop.lock
tramp

bin/
build/
eshell/
ipch/
obj/
elpa/
reports/
semanticdb/
server/
url/
places
recentf
RFC/
xkcd/

*.\#*
\#*\#
*~
*.swn
*.swo
*.swp
*.orig
