*.zwc
/fish/.config/fish/fishd.jco-arch
/fonts/.fonts/.uuid
/homedir/.config/emacs/.lsp-session-v1
/homedir/.config/emacs/.org-id-locations
/homedir/.config/emacs/archives/
/homedir/.config/emacs/auto-save-list/
/homedir/.config/emacs/custom.el
/homedir/.config/emacs/elpa/
/homedir/.config/emacs/elpy/
/homedir/.config/emacs/forge-database.sqlite
/homedir/.config/emacs/lisp/my-theme.el
/homedir/.config/emacs/lisp/workbench.xmi
/homedir/.config/emacs/org-gcal/
/homedir/.config/emacs/projectile-bookmarks.eld
/homedir/.config/emacs/projectile.cache
/homedir/.config/emacs/recentf
/homedir/.config/emacs/request/
/homedir/.config/emacs/straight/
/homedir/.config/emacs/transient/
/homedir/.config/emacs/var/pcache/gh/gh-gist-api/joncol
/homedir/.config/fish/conf.d/omf.fish
/homedir/.config/fish/fishd.jco-core2duo
/homedir/.config/fish/functions/fish_prompt.fish
/homedir/.config/nvim/autoload/
/homedir/.config/polybar/github_access_token
/homedir/.config/tmux/plugins/
/homedir/.config/xmonad/.stack-work/
/homedir/.config/xmonad/pipe-*
/homedir/.config/xmonad/stack.yaml.lock
/homedir/.config/xmonad/xmonad-jco.cabal
/homedir/.config/zsh/.zcompdump
/homedir/.imapfilter/certificates
/homedir/.lein/self-installs/
/homedir/.local/bin/virtualenv
/homedir/.stardict/dic/stardict-dictd-web1913-2.4.2/dictd_www.dict.org_web1913.idx.oft
xmonad-x86_64-linux
xmonad.errors
xmonad.hi
xmonad.o
