use nix -j4 -A devel-shell # Use this to disable `haskell-language-server`.
# use nix -j4 -A ide-shell # Use this to enable `haskell-language-server`.

if [ -e .envrc-local ]; then
   source .envrc-local
fi
