#include ".dimensions.h"

#ifndef HEIGHT
#define FONT_SIZE 14
#elif HEIGHT >= 1440
#define FONT_SIZE 13
#else
#define FONT_SIZE 12
#endif

URxvt*font: xft:Hack:antialias=true:size=FONT_SIZE
URxvt*boldFont: xft:Hack:style=bold:antialias=true:size=FONT_SIZE
URxvt*italicFont: xft:Hack:style=italic:antialias=true:size=FONT_SIZE
URxvt*boldItalicFont: xft:Hack:style=bolditalic:antialias=true:size=FONT_SIZE

URxvt*letterSpace: -2

Xcursor.size: 16

Rxvt.scrollBar: false
Rxvt.saveLines: 65535

URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007

URxvt.perl-ext-common: default,matcher,resize-font,keyboard-select
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! Disable ctrl+shift dialog
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search

! ! Fake transparency
! URxvt.transparent: true
! URxvt.shading:20
! URxvt.inheritPixmap: true

! Real transparency
! urxvt*depth: 32
! urxvt*background: rgba:ff00/0000/0200/c800
